/*
Authors: Didar Orazgeldiyev, Cameron Sunderman, Seth Hall
Date:
File Name: styles.css
*/

/* CSS Reset */

body, header, li, a, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prata', serif;
}

body {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 40rem;
}

/* Style Rules for General */

.br_img {
  
  width: 100%;
  padding-bottom: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #B4965D;
}

/* Header */

header {
  position: relative;
  padding: 0 2rem;
  background-color: #064D22;
}

/* padding for sticky and content */
/*
.sticky + .content {
  padding-top: 60px;
}
/* -------------------------------NEW------------------------- */


.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*LOGO*/

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: none;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

.action_btn {
  display: none;
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 0.75px solid #fff;
  outline: none;
  border-radius: 5px;
  font-size: 0.8rem;
  /**font-weight: bold;**/
  cursor: pointer;
}

.action_btn:hover {
  background-color: #fff;
  color: #B4965D;
}



/*Dropdown menu*/


.dropdown_menu:before,
.dropdown_menu ul.sub-menu:before {
backdrop-filter: blur(5px);
content: “”;
display: block;
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: 0;
}

.dropdown_menu1{
position: relative;
}

.dropdown_menu {
  
  display: block;
  position: absolute;
  right: 2rem;
  left: 2rem;
  top: 60px;
  height: 0;
  width: unset;
  background: rgba(6, 77,34, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*Style Rule for main area*/

.hero {
  width: 100%;
  height: auto;
}

/* Style Rules for Index Page*/

.team_logos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

hr {
  height: 1px;
  width: 60%;
  border-color: #B4965D;
  color: #B4965D;
  border-top: none;
  border-left: none;
  border-right: none;
}

.welcome {
  text-align: center;
  padding: 7% 15%;
}

.welcome h2 {
  color: #064D22;
  font-size: 2rem;
  letter-spacing: 1px;
}

.welcome p {
  color:#B4965D;
  font-family: 'Roboto', serif;
  line-height: 40px;
  
}

/* Style Rules for Timeline*/

.timeline {
  max-width: 50%;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.timeline h1 {
  text-align: center;
  color: #064D22;
  font-size: 2rem;
  letter-spacing: 5px;
}

span {
  font-family: 'Prata', serif;
  color: #064D22;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.timeline p {
  font-family: 'Roboto', serif;
  color: #B4965D;
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #B4965d 0%, #B4965d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  
}

/* Timeline Numbers */
.timeline p:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  border-style: solid;
  border-color: #B4965D;
  background-color: white;
  text-align: center;
  font-family: 'Prata', serif;
  line-height: 1.25em;
  color: #064D22;
  font-size: 1em;
}
/* odd number borders */
.timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.timeline p:nth-child(odd):before {
  left: 100%; 
  margin-left: -20px;
}

/* even number borders */
.timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

.timeline p:nth-child(even):before {
  right: 100%; 
  margin-right: -20px;
}

/* handle first and last */

.timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.timeline p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

/* Style Rules for Services page */

.ground_transport {
  margin: 50px auto;
  display: block;
  width: 70%;
}

.ground_transport img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ground_transport h2 {
  color:#064D22;
  font-weight: 100;
}

.ground_transport h4 {
  font-family: 'Roboto', serif;
  font-weight: 100;
  color: #B4965D;
  letter-spacing: 2px;
}

.ground_transport p {
  font-weight: 100;
  color:#391400;
  font-family: 'Roboto', serif;
  line-height: 200%;
}

/* Style Rules for About page */

.alex_bean {
  margin: 50px auto;
  display: block;
  width: 70%;
}

.alex_bean img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alex_bean h2 {
  color:#064D22;
  font-weight: 100;
}

.alex_bean h4 {
  font-family: 'Roboto', serif;
  font-weight: 100;
  color:#064D22;
  letter-spacing: 2px;
}
.alex_bean p {
  font-weight: 100;
  color:#B4965D;
  font-family: 'Roboto', serif;
  line-height: 200%;
}
/*Style Rules for Footer*/

footer {
  padding: 30px 20px;
  background-color: #064D22;
  background-image: url(assets/footer_image.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top center;
}

footer .copyright {
  grid-column: 1/3;
  font-size: 0.8em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin: 0 6px;
}

footer img {
  width: 20px;
}

footer p {
  color: #fff;
}

 /*Media Query*/
 
@media(min-width: 630px){
  .navbar .links,
  .navbar .action_btn {
      display: none;
  }

  .navbar .toggle_btn {
      display: block;
      width: 20px;
  }

  .toggle_btn{
    
  }

  .dropdown_menu {
      display: block;
  }
  
} 

@media(min-width: 1015px){
  .dropdown_menu {
    display: none;
    width: 300px;
  }
  

  .navbar .links {
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn {
    display: none;
  }

  .navbar .action_btn {
    display: flex;
    
  }



  .br_img {
    padding-bottom: 100px;
    margin-top: -100px;
  }

  /* Style Rule for Services Desktop*/

  .ground_transport {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ground_transport h2, h4, p {
    padding-left: 50px;
  }

  /* Style Rule for About USDesktop*/

  .alex_bean {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .alex_bean h2, h4, p {
    padding-left: 50px;
  }

}


