/*
Authors: Didar Orazgeldiyev, Cameron Sunderman, Seth Hall
Date:
File Name: styles.css
*/

/* CSS Reset */

body, header, li, ul, a, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prata', serif;
}

/* General Style Rules */

body {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 40rem;
}

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: auto;
}

.br_img {
  
  width: 100%;
  padding-bottom: 50px;
}

/* Style Rules for Header and Navigation */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #B4965D;
}

header {
  position: relative;
  padding: 0 2rem;
  background-color: #064D22;
}

.navbar {
  width: 100%;
  height: 60px;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: none;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

.action_btn {
  display: none;
  background-color: transparent;
  color: #fff;
  padding: 0.75rem 1rem;
  border: 0.75px solid #fff;
  outline: none;
  border-radius: 5px;
  font-size: 0.8rem;
  /**font-weight: bold;**/
  cursor: pointer;
}

.action_btn:hover {
  background-color: #fff;
  color: #B4965D;
}

.btn {
  display: none;
  background-color: transparent;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  /**font-weight: bold;**/
  cursor: pointer;
}

.btn:hover {
  border: 0.75px solid #B4965D;
}

/* Style Rules for dropdown menu*/

.dropdown_menu {
  
  display: block;
  position: absolute;
  right: 2rem;
  left: 2rem;
  top: 60px;
  height: 0;
  width: unset;
  background: rgba(6, 77,34, 0.7);
  -webkit-backdrop-filter: blur(15px)!important;
        backdrop-filter: blur(15px)!important;

  /* Blur and Opacity
  background: rgba(6, 77,34, 0.5);
  backdrop-filter: blur(15px);
  */

  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 300px;
}

.dropdown_menu .btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown_menu .action_btn {
  padding-top: 0.7rem;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Style Rules for Index Page*/

.team_logos {
  display: none;
}

hr {
  display: none;
}

.welcome {
  text-align: center;
  padding: 7% 15%;
}

.welcome h2 {
  color: #064D22;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.welcome p {
  font-size: 1rem;
  color:#B4965D;
  font-family: 'Roboto', serif;
  line-height: 40px;
  
}

/* Style Rules for Timeline*/

.timeline {
  max-width: 50%;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.timeline h1 {
  text-align: center;
  color: #064D22;
  font-size: 2rem;
  letter-spacing: 5px;
}

span {
  font-family: 'Prata', serif;
  color: #064D22;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.timeline p {
  font-family: 'Roboto', serif;
  color: #B4965D;
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #B4965d 0%, #B4965d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  
}

/* Timeline Numbers */
.timeline p:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  border-style: solid;
  border-color: #B4965D;
  background-color: white;
  text-align: center;
  font-family: 'Prata', serif;
  line-height: 1.25em;
  color: #064D22;
  font-size: 1em;
}
/* odd number borders */
.timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.timeline p:nth-child(odd):before {
  left: 100%; 
  margin-left: -20px;
}

/* even number borders */
.timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

.timeline p:nth-child(even):before {
  right: 100%; 
  margin-right: -20px;
}

/* handle first and last */

.timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.timeline p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

/* Style Rules for Services page */

.ground_transport {
  margin: 50px auto;
  display: block;
  width: 70%;
}

.ground_transport img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ground_transport h2 {
  color:#064D22;
  font-weight: 100;
}

.ground_transport h4 {
  font-family: 'Roboto', serif;
  font-weight: 100;
  color: #B4965D;
  letter-spacing: 2px;
}

.ground_transport p {
  font-weight: 100;
  color:#391400;
  font-family: 'Roboto', serif;
  line-height: 200%;
}

/* Style Rules for About page */

.alex_bean {
  margin: 50px auto;
  display: block;
  width: 70%;
}

.alex_bean img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alex_bean h2 {
  color:#064D22;
  font-weight: 100;
}

.alex_bean h4 {
  font-family: 'Roboto', serif;
  font-weight: 100;
  color:#064D22;
  letter-spacing: 2px;
}
.alex_bean p {
  font-weight: 100;
  color:#B4965D;
  font-family: 'Roboto', serif;
  line-height: 200%;
}

/* Style Rules for Register Page page */

/* Style Rules for Travel Packages */

.travel_packages {
  padding-top: 5rem;
  text-align: center;
}
.travel_packages h1 {
  color: #064D22;
  font-size: 2rem;
  letter-spacing: 5px;
}

.travel_packages p {
  font-size: 1rem;
  color:#B4965D;
  font-family: 'Roboto', serif;
  padding-bottom: 5rem;
}
.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15rem;
}
.pricing .plan {
  color: #537761;
  border: 1px solid #E3D5B9;
  background-color: #fff;
  padding: 2.5rem;
  margin: 12px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.pricing .plan h2 {
  font-size: 22px;
  margin-bottom: 12px;
}
.pricing .plan .price {
  margin-bottom: 1rem;
  font-size: 30px;
}
.pricing .plan ul.features {
  list-style-type: none;
  text-align: left;
}
.pricing .plan ul.features li {
  margin: 8px;
  font-family: 'Roboto', serif;
}
.pricing .plan ul.features li .fas {
  margin-right: 4px;
}
.pricing .plan ul.features li .fa-check-circle {
  color: #B4965D;
}
.pricing .plan ul.features li .fa-times-circle {
  color: #E3D5B9;
}
.pricing .plan button {
  border: none;
  width: 100%;
  padding: 12px 35px;
  margin-top: 1rem;
  background-color: #fff;
  border: 1.2px solid #B4965D;
  color: #B4965D;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#popular_button{
  background-color: #B4965D;
  color: #fff;
}

.pricing .plan.popular {
  color: #064D22;
  border: 1.2px solid #B4965D;
  position: relative;
  transform: scale(1.08);
}
.pricing .plan.popular span {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #B4965D;
  border: 1.2px solid #B4965D;
  padding: 4px 20px;
  font-family: 'Roboto', serif;
  font-size: 1rem;
  border-radius: 7px;
}
.pricing .plan:hover {
  box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
}






/*Style Rules for Footer*/

footer {
  padding: 30px 20px;
  background-color: #064D22;
  background-image: url(assets/footer_image.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top center;
}

footer .copyright {
  grid-column: 1/3;
  font-size: 0.8em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin: 0 6px;
}

footer img {
  width: 20px;
}

footer p {
  color: #fff;
}

 /*Media Query*/
 
@media(min-width: 630px){
  .navbar .links,
  .navbar .action_btn {
      display: none;
  }

  .navbar .toggle_btn {
      display: block;
      width: 20px;
  }

  .toggle_btn{
    
  }

  .dropdown_menu {
      display: block;
      backdrop-filter: blur(15px);
  }

  .br_img {
    padding-bottom: 100px;
    margin-top: -100px;
  }

    .team_logos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
  border-color: #064D22;
  color: #064D22;
  border-top: none;
  border-left: none;
  border-right: none;
}
  
} 

@media(min-width: 1015px){
  a{
    display: block;
    padding: 0.8rem 0.8rem;
  }
  .dropdown_menu {
    display: none;
    width: 300px;
  }
  
  .navbar {
    align-items: center;
  }

  .navbar .links {
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn {
    display: none;
  }

  .navbar .action_btn {
    display: flex;
    
  }



  .br_img {
    padding-bottom: 100px;
    margin-top: -200px;
  }



  /* Style Rule for Services Desktop*/

  .ground_transport {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  /* Style Rule for About USDesktop*/

  .alex_bean {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}


